.todolist-container {
    background-color: white;
    margin-top: 1rem;
    border-radius: 0.25rem; 
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todos-container {
    overflow: auto;
    height: 100%;
    padding: 0;
}

