.roller {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #2a2b2c;
  height: 15px;
  pointer-events: none;
  width: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

