@import "../../styles/colors.scss";

.input {    
    border: none;
    width: 90%;
    flex: 1;
    padding-left: 10px; 
}

.input:focus {
    outline: none;
}
 
.section {
    background-color: white;
    margin-top: 1rem;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem $dark-grey;
    display: flex;
    justify-content: space-between;
    position: relative; 
    align-items: center;
} 

.search-icon {
     color: gray; 
  }
  
 