@import "../../styles/styles";
.section {
  @include section;
  .search-icon {
    color: gray;
  }
  .input {
    border: none;
    width: 90%;
    flex: 1;
    padding-left: 10px;

    &:focus {
      outline: none;
    }
  }
}
