.todoListApp .addTodo input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  width: 165px;
}

.todoListApp button {
  padding: 5px;
  font-size: 16px;
  margin: 5px;
  margin-right: 5px;
  background-color: #00a8f0;
  color: #FFF;
  border: none;
}

.todoListApp button:hover {
  cursor: pointer;
}

.todoListApp .todoList {
  list-style: none;
  padding-left: 0;
  width: 350px;
}

.todoListApp .todoList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul.todoList {
  padding: 0;
}

.done-input {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}