#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;

    &.modal-sketch {
        transform: scale(1);
        height: 100%;
        width: 100%;

        .modal-background {
            background: rgba(0, 0, 0, .0);
            animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            height: 100%;
            width: 100%;

            .modal {
                background-color: transparent;
                animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                height: 50%;
                width: 50%;

                h2,
                input,
                button {
                    opacity: 0;
                    position: relative;
                    animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }

                label {
                    opacity: 0;
                    animation: modalInputLableContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }

                .modal-svg {
                    rect {
                        animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    }
                }
            }
        }

        &.out {
            animation: quickScaleDown 0s .5s linear forwards;

            .modal-background {
                animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

                .modal {
                    animation: modalFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

                    h2,
                    input,
                    button {
                        animation: modalContentFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    }

                    label {
                        opacity: 0;
                        animation: modalInputLableContentFadeOut .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    }

                    .modal-svg {
                        rect {
                            animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                        }
                    }
                }
            }
        }
    }

    .modal-background {
        display: table-cell;
        background: rgba(0, 0, 0, .8);
        text-align: center;
        vertical-align: middle;

        .modal {
            background: white;
            padding: 50px;
            display: inline-block;
            border-radius: 3px;
            font-weight: 300;
            position: relative;

            h2 {
                font-size: 25px;
                line-height: 25px;
                margin-bottom: 15px;
            }

            p {
                font-size: 18px;
                line-height: 22px;
            }

            .modal-svg {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 3px;

                rect {
                    stroke: #fff;
                    stroke-width: 2px;
                    stroke-dasharray: 778;
                    stroke-dashoffset: 778;
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
    }

    100% {
        background: rgba(0, 0, 0, .7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
    }

    100% {
        background: rgba(0, 0, 0, .0);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }

    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 778;
    }
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: white;
    }
}

@keyframes modalFadeOut {
    0% {
        background-color: white;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
    }

    100% {
        opacity: 0;
        top: -20px;
    }
}

@keyframes modalInputLableContentFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modalInputLableContentFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}