@import "../../styles/colors.scss";
.todo-card{
    box-shadow: 0.1rem 0.1rem 1rem $grey;
    border-radius: '20px' 
}

.category-icon{
    background-color: $pink;
}
.action-btn{
    background-color:$aqua !important;
    color: white;
    font-weight: 900;
}