.todo-card{
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
    border-radius: '20px' 
}

.category-icon{
    background-color: rgb(182, 36, 255);
}
.action-btn{
    background-color:aquamarine !important;
    color: white;
    font-weight: 900;
}