@import "../../styles/colors.scss";
.progress-section {
    background-color: white;
    margin-top: 1rem;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem $dark-pink;
    display: flex; 
    position: relative; 
   
    .completed-msg{ 
        font-size: 17px;
        top: 10px;
        position: relative;
        font-weight: bold;
    }
    .progress-msg{
        top:1px; 
        font-size: 16px;
    }
} 