@import "../../styles/styles.scss";

.floating-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .floating-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    box-shadow: 0 0 10px $grey;
    background-color: $dark-pink;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .floating-button:hover {
    background-color: $light-pink;
  }
}
