.input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #181818;
  }
  
  .add-button {
    width: 100px;
    height: 40px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid #181818;
  }