:root {
  --color-purple: #a18aff;
  --color-pink: #ca8bfe;
  --color-blue: #3fd4f4;
  --color-red: #fd99af;
  --color-yellow: #fac608;
  --color-light-grey: #d9d9d9;
  --color-grey: #717082;
  --color-white: #fff;
  --color-black: #000;
  --color-hover: rgb(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
  background-color: var(--color-purple);
  font-family: sans-serif;
}

body,
#root {
  width: 100%;
  height: 95vh;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  font-size: 25px !important;
}

h3 {
  font-size: 35px !important;
  font-weight: bold;
}

.sections {
  border: 4px solid var(--color-white);
  border-radius: 7px;
  border-radius: 8px;
}

.side-panel {
  background-color: var(--color-white);
  color: var(--color-grey);
  padding: 5px 10px;
}

.main-content {
  margin: 20px auto;
}

.divider {
  background-color: var(--color-purple);
  height: 3px;
  margin: 20px;
}

.purple {
  color: var(--color-purple);
}

.pink {
  color: var(--color-pink);
}

.blue {
  color: var(--color-blue);
}

.red {
  color: var(--color-red);
}

.black {
  color: var(--color-black);
}

.grey {
  color: var(--color-grey) !important;
}

.light-grey {
  color: var(--color-light-grey);
}

.yellow {
  color: var(--color-yellow);
}

.white {
  color: var(--color-white);
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100% 100%;
  background: var(--color-white);
  border: 1px solid var(--color-pink);
  object-fit: contain;
  padding: 3px;
}

.add-task {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 18px;
  padding: 12px 15px;
}

.tasks {
  margin: 0 20px;
}

.task {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 18px;
  padding: 12px 15px;
}

.delete-icon {
  margin-left: -20px;
  margin-right: 10px;
}

.delete-icon:hover {
  color: var(--color-black);
  cursor: pointer;
}

.done-btn:hover {
  cursor: pointer;
  background-color: var(--color-light-grey);
  border-radius: 100%;
  color: var(--color-purple);
}

.selected {
  background-color: var(--color-hover) !important;
}

.category-circle:hover {
  cursor: pointer;
  font-size: 25px;
}

.category-circle.active {
  font-size: 25px;
}
