@import "../../styles/colors.scss";
.chip {
  display: inline-flex;
  align-items: center;
  padding: 0.375em 0.75em;  
  font: bold 1em sans-serif; 
  border: 2px solid $white; 
  border-radius: 1.25em; 
  background-color: $aqua;
  color: $black;
  margin: 0.5em;
  transition: background-color 0.3s; 
}

.chip:hover {
  background-color: $dark-aqua;
  cursor: pointer;
}

.chip-icon {
  margin-right: 0.5em;
}
